
  .project-tab #tabs {
    background: #007b5e;
    color: #eee;
}

.project-tab #tabs h6.section-title {
    color: #eee;
}

.project-tab #tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fcfcfc;
    background-color: #067788;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-weight: bold;
}

.project-tab .nav-link {
    font-size: calc(60% + 0.5vw + 0.5vh);
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #067788;
    font-weight: 600;
}

.project-tab .nav-link:hover {
    border: none;
}

.project-tab a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.dropdown-item,
.btn, label, select.custom-select {
  font-size: calc(70% + 0.5vw + 0.5vh);
}

label{
  font-weight: bold;
}

.dropdown-toggle{
font-weight: bold;
}

.slider.slider-horizontal {
width: 80%;
}

.slider-handle {
width: 18px;
height: 18px;
top: 2px;
}

.slider-tick {
width: 18px;
height: 18px;
top: 2px;
}

.slider-selection {
background: #f8f9fa;
}

.slider-tick.round.in-selection {
background: #61bfee;
}

.slider-tick.round {
background: #61bfee;
}

.slider-track-high {
background: #c4e1e2;
}

.slider-selection.tick-slider-selection {
background: #c4e1e2;
}

.slider-tick-label {
font-size: calc(50% + 0.5vw + 0.5vh);
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 100px;					
  height: 30px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: grey;
/*   	opacity:.1; */
  border: 0px;		
/*     border-radius: 8px;			 */
  pointer-events: none;			
}

.spinner {
width: 40px;
height: 40px;
margin: 100px auto;
background-color: #333;

border-radius: 100%;  
-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
animation: sk-scaleout 1.0s infinite ease-in-out;
}

.spinner-wrapper{

width: 100%;
height: 100%;
position: absolute;
background-color: white;
z-index: 1;
display: flex;
align-items: center;
justify-content: center;

}

@-webkit-keyframes sk-scaleout {
0% { -webkit-transform: scale(0) }
100% {
  -webkit-transform: scale(1.0);
  opacity: 0;
}
}

@keyframes sk-scaleout {
0% { 
  -webkit-transform: scale(0);
  transform: scale(0);
} 100% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 0;
}
}