{% extends 'dashboard/dash_base.html' %}

{% load static %}

{% block feature_css %}

<link rel="stylesheet" href="{% static 'hmis_dash/css/index.css' %}">

<style>
    #table {
        width: 90%;
        height: 75%;
        font-size: calc(50% + 0.5vw + 0.5vh);
    }

    th {
        border: 2px solid black;
        font-weight: bolder;
        text-align: center;
        background-color: rgb(165, 199, 243);
    }

    td {
        border: 2px solid black;
        text-align: center;
    }

    .scroll-down {
        float: right;
        font-weight: bold;
        font-size: calc(50% + 0.5vw + 0.5vh);
    }

    #chart {
        margin-top: 10px;
    }

    text {
        font-size: 1.2rem
    }

    div.tooltip {
        position: absolute;
        text-align: center;
        width: auto;
        height: auto;
        color: rgb(5, 14, 145);
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(30% + 0.5vw + 0.5vh);
        font-weight: bold;
        z-index: 10;
        background: rgb(233, 235, 241);
        padding: 10px;
        border: 3px solid black;
        border-radius: 10px;
        /* box-shadow: 0 0px 10px black; */
    }
</style>

{% endblock %}

{% block feature %}

<div class="row">
    <div class="col-12 h-75">
        <div class="heading text-center" id="barTitle"> Indicator </div>
    </div>
</div>
<div class="row bg-dark mb-2">
    <div class="dropdown m-1">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <!-- Category Dropdown -->
            <span class="selectedCategory"></span>
        </button>
        <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Childhood Diseases-Pneumonia</a>
            <a class="dropdown-item" href="#">Childhood Diseases-Sepsis</a>
            <a class="dropdown-item" href="#">Childhood Diseases-Tuberculosis(TB)</a>
            <a class="dropdown-item" href="#">Childhood Diseases-Malaria</a>
            <a class="dropdown-item" href="#">Childhood Diseases-Diarrhoea</a>
            <!-- <a class="dropdown-item" href="#">Childhood Diseases-Diarrhoea treated in Inpatients</a>
            <a class="dropdown-item" href="#">Children admitted with upper respiratory infections</a> -->
            <a class="dropdown-item" href="#">Childhood Diseases-Severe Acute Malnutrition(SAM)</a>

        </div>
    </div>

    <button type="button" class="btn btn-light m-1"
        onclick="location.href=`{% url 'cd_barnumeric' dist_name fy %}`">Count</button>

    <!-- <div class="dropdown m-1">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="selectedPtype"></span>
    </button>
    <div class="dropdown-menu ptype" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Urban</a>
      <a class="dropdown-item" href="#">Rural</a>
      <a class="dropdown-item" href="#">Tribal</a>
    </div>
  </div> -->


</div>

<!-- <div class="row">
  <div class="col">
    <div class="scroll-down">
      Please Scroll Down to see Actual Numbers
    </div>
  </div>
</div> -->

<div class="row text-center">
    <div class="col-12 mb-5">
     
        <input type="text" id="monthSlider" name="somename" data-provide="slider"
            data-slider-ticks="[0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12]"
            data-slider-ticks-labels='["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]'
            data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="0"
            data-slider-tooltip="hide">
    </div>
</div>

<div class="row">
    <div class="col-12" id="chart"></div>
</div>

<!-- <div class="row">
  <div class="col-12 text-center mt-3" id="table">
  </div>
</div> -->


{% endblock %}
{% block feature_js %}

<script>

    var width1;

    function filterCSV(csv, key, value) {
        var result = [];
        csv.forEach(function (val, idx, arr) {

            if (val[key] == value) {

                result.push(val)
            }
        })
        return result;
    }

    const svg = d3.select('#chart')
        .append('svg')
        .attr('width', 2350)
        .attr('height', 800)
        .call(responsivefy) // Call responsivefy to make the chart responsive

    function responsivefy(svg) {

        // Container is the DOM element, svg is appended. 
        // Then we measure the container and find its 
        // aspect ratio. 
        const container = d3.select(svg.node().parentNode),
            width = parseInt(svg.style('width'), 10),
            height = parseInt(svg.style('height'), 10),
            aspect = width / height;

        // Add viewBox attribute to set the value to initial size 
        // add preserveAspectRatio attribute to specify how to scale  
        // and call resize so that svg resizes on page load 
        svg.attr('viewBox', `0 0 ${width} ${height}`).
            attr('preserveAspectRatio', 'xMinYMin').
            call(resize);

        d3.select(window).on('resize.', resize);

        function resize() {
            const targetWidth = $(window).width();
            width1 = targetWidth;
            svg.attr('width', targetWidth);
            svg.attr('height', Math.round(targetWidth / aspect));
        }
    }

    let bar_width = 40;
    let sortBy = 'per_chld_disease_pneumonia';
    let selectedYear = "{{fy}}";
    let yValue = d => d.per_chld_disease_pneumonia;
    const xValue = d => d.area_name;
    const margin = { left: 100, top: 20, right: 100, bottom: 90 };
    const innerWidth = 1250 - margin.left - margin.right;
    const innerHeight = 650 - margin.top - margin.bottom;

    let tansitionDuration = 1000;

    const render = data => {
        const xScale = d3.scaleBand().range([0, 1.5 * bar_width * data.length]).padding(0.3);
        const yScale = d3.scaleLinear().domain([1.5 * (d3.max(data, yValue)), 0]).range([0, innerHeight]);

        xScale.domain(data.map(xValue))

        let xAxisGenerator = d3.axisBottom(xScale);

        let tooltip = d3.select("body")
            .append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        const g = svg.append('g').attr("preserveAspectRatio", "xMinYMin meet")
            .attr('transform', `translate(${margin.left}, ${margin.top})`);

        var myColor = d3.scaleSequential().domain([d3.max(data, yValue), d3.min(data, yValue)])
            .interpolator(d3.interpolateRdYlGn);

        let chart = g.selectAll("rect").data(data)

        let chartText = g.selectAll('text').data(data)

        chart.exit().remove();

        chartText.exit().remove();

        chart.enter().append('rect')
            .attr('x', d => xScale(d.area_name) + 1)
            .attr('y', d => yScale(yValue(d)))
            .attr('height', d => innerHeight - yScale(yValue(d)))
            .attr('width', xScale.bandwidth())
            .attr("fill", d => myColor(yValue(d)))
            .on("mouseover", d => {
                tooltip
                    .transition()
                    .duration(200)
                    .style("opacity", 0.9);
                tooltip
                    .html(d.area_name + " : " + (yValue(d).toFixed(2)))
                    .style("left", d3.event.pageX + "px")
                    .style("top", d3.event.pageY - 30 + "px");
            })
            .on("mouseout", function (d) {
                tooltip
                    .transition()
                    .duration(500)
                    .style("opacity", 0);
            });

        // update new values
        chartText.enter().append("text")
            .filter(function (d, i) { return i === 0 || i === (data.length - 1) })
            .text(d => yValue(d).toFixed(2))
            .attr('x', d => xScale(d.area_name))
            .attr('y', d => yScale(yValue(d)) - 7)
            .attr("font-family", "sans-serif")
            .attr("fill", "blue")
            .attr("font-weight", "bold");

        chart.transition().duration(tansitionDuration)
            .attr('y', d => yScale(yValue(d)))
            .attr('x', d => xScale(d.area_name))
            .attr('height', d => innerHeight - yScale(yValue(d)))
            .attr("fill", d => myColor(yValue(d)))

        // text update
        chartText.transition().duration(tansitionDuration)
            .filter(function (d, i) { return i === 0 || i === (data.length - 1) })
            .text(d => yValue(d))
            .attr('y', d => yScale(yValue(d)) - 7)
            .attr('x', d => xScale(d.area_name))
            .attr("font-family", "sans-serif")
            .attr("font-weight", "bold")

        var yaxis = g.append('g')
            .call(d3.axisLeft(yScale))
            .attr("font-weight", "bold");

        var xaxis = g.append('g').call(xAxisGenerator)
            .attr('transform', `translate(0, ${innerHeight})`)
            .attr("font-weight", "bold");

        xaxis.selectAll("text")
            .attr("font-weight", "bold")
            .style("text-anchor", "end")
            .attr("dx", "-.8em")
            .attr("dy", ".15em")
            .attr("transform", "rotate(-55)");

        g.append("line")
            .attr("y1", function () { return yScale(100) })
            .attr("y2", function () { return yScale(100) })
            .attr("x1", 0)
            .attr("x2", 1.5 * bar_width * data.length)
            .attr("stroke-width", 4)
            .attr("stroke-dasharray", '20,10,5,5,5,10')
            .attr("stroke", "red");

        let stateSelected = '{{ dist_name}}';
        stateSelected = stateSelected.replace(/_/g, ' ');
        console.log("stateSelected", stateSelected);

        g.selectAll('rect')
            .filter(function (d) { return d.area_id == stateSelected; })
            .style("stroke", "black")
            .style("stroke-width", 5);
    }

    const sortData = (data, parameter) => {
        sortedData = data.slice().sort((a, b) => d3.descending(a[parameter], b[parameter]))
        return sortedData;
    }


    $(".category a").click(function () {
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
        var valCategory = $(this).text();
        displayChart(valCategory);
    });

    function displayChart(valCategory) {
        var displayVal = valCategory.substring(0, valCategory.length);
        let fy = '{{ fy }}';
        document.getElementById('barTitle').innerHTML = "(%) Indicator: " + displayVal + " (" + fy + ")";

        switch (valCategory) {

            case "Childhood Diseases-Pneumonia": yValue = d => d.per_chld_disease_pneumonia; sortBy = 'per_chld_disease_pneumonia'; break;

            case "Childhood Diseases-Sepsis": yValue = d => d.per_chld_disease_sepsis; sortBy = 'per_chld_disease_sepsis'; break;

            case "Childhood Diseases-Tuberculosis(TB)": yValue = d => d.per_chld_disease_tb; sortBy = 'per_chld_disease_tb'; break;

            case "Childhood Diseases-Malaria": yValue = d => d.per_chld_disease_malaria; sortBy = 'per_chld_disease_malaria'; break;

            case "Childhood Diseases-Diarrhoea": yValue = d => d.per_chld_disease_diarrhoea; sortBy = 'per_chld_disease_diarrhoea'; break;

            case "Childhood Diseases-Diarrhoea treated in Inpatients": yValue = d => d.per_chld_disease_diarrhoea_trtd_inpatnt; sortBy = 'per_chld_disease_diarrhoea_trtd_inpatnt'; break;

            case "Children admitted with upper respiratory infections": yValue = d => d.per_chld_admtd_upper_resp_infec; sortBy = 'per_chld_admtd_upper_resp_infec'; break;

            case "Childhood Diseases-Severe Acute Malnutrition(SAM)": yValue = d => d.per_chld_disease_sam; sortBy = 'per_chld_disease_sam'; break;
        }

        var valMonth = tickLabels[$('#monthSlider').slider('getValue')];

        filterdata = filterCSV(data, 'month', valMonth);
        mydata = sortData(filterdata, sortBy);
        svg.selectAll("*").remove();
        render(mydata);
    }

    //   $(".ptype a").click(function () {
    //     $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedPtype"></span>');
    //     $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
    //     prjType = $(this).text();
    //     var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
    //     filterdata = filterCSV(data, 'month_n', valMonth);
    //     pt_data = filterCSV(filterdata, 'project_type', prjType);
    //     mydata = sortData(pt_data, sortBy);
    //     tableData = tables(pt_data);
    //     svg.selectAll("*").remove();
    //     render(mydata);
    //   });

    /////

    data_from_django = {{ data | safe }};
    var data = []
    data_from_django.forEach(element => {
        if (element.per_chld_disease_pneumonia > 200)
            element.per_chld_disease_pneumonia = 200;
        if (element.per_chld_disease_sepsis > 200)
            element.per_chld_disease_sepsis = 200;
        if (element.per_chld_disease_tb > 200)
            element.per_chld_disease_tb = 200;
        if (element.per_chld_disease_malaria > 200)
            element.per_chld_disease_malaria = 200;
        if (element.per_chld_disease_diarrhoea > 200)
            element.per_chld_disease_diarrhoea = 200;
        if (element.per_chld_disease_diarrhoea_trtd_inpatnt > 200)
            element.per_chld_disease_diarrhoea_trtd_inpatnt = 200;
        if (element.per_chld_admtd_upper_resp_infec > 200)
            element.per_chld_admtd_upper_resp_infec = 200;
        if (element.per_chld_disease_sam > 200)
            element.per_chld_disease_sam = 200;

        data.push(element);
    });

    data.forEach(d => {
        d.per_chld_disease_pneumonia = +d.per_chld_disease_pneumonia;
        d.per_chld_disease_sepsis = +d.per_chld_disease_sepsis;
        d.per_chld_disease_tb = +d.per_chld_disease_tb;
        d.per_chld_disease_malaria = +d.per_chld_disease_malaria;
        d.per_chld_disease_diarrhoea = +d.per_chld_disease_diarrhoea;
        d.per_chld_disease_diarrhoea_trtd_inpatnt = +d.per_chld_disease_diarrhoea_trtd_inpatnt;
        d.per_chld_admtd_upper_resp_infec = +d.per_chld_admtd_upper_resp_infec;
        d.per_chld_disease_sam = +d.per_chld_disease_sam;
        d.area_id = d.area_id;
        d.area_name = d.area_name;
        d.month = d.month;
        d.financial_year = d.financial_year;


    });


    let tickLabels = ["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]

    $('#monthSlider').slider().on('slideStop', function (ev) {
        var val = tickLabels[ev.value];
        filterdata = filterCSV(data, 'month', val);
        mydata = sortData(filterdata, sortBy);
        svg.selectAll("*").remove();
        render(mydata);
    });

    let choices = parseURLParameters(window.location.href);

    console.log(choices, "choices")
    if (choices.length > 0) {
        let categoryChoices = choices[0].replace(/_/g, ' ');
        console.log(categoryChoices, "[0]")

        $('.category a').parents('.dropdown').find('.dropdown-toggle').html(categoryChoices + ' <span class="selectedCategory"></span>');
        displayChart(categoryChoices);
    }

    $(function () {

        // $('.ptype a').parents('.dropdown').find('.dropdown-toggle').html('Urban' + ' <span class="selectedPtype"></span>');

        $(".category a").click(function () {
            var selText = $(this).text();
            $(this).parents('.dropdown').find('.dropdown-toggle').html(selText + ' <span class="selectedCategory"></span>');
        });

        //trigger event
        if (choices.length <= 0)
            $(".category a").first().trigger('click');
    });

    function parseURLParameters() {
        var query = (window.location.search || '?').substr(1);
        var map = [];
        query.replace(/([^&=]+)=?([^&]*)(?:&+|$)/g, function (match, key, value) {
            map.push(value);
        });
        return map;
    }

</script>

{% endblock %}