{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'hmis_dash/css/index.css' %}">
<link rel="stylesheet" type="text/css"
  href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link>

<style>
  #table {
    width: 70%;
    height: 75%;
    font-size: calc(30% + 0.5vw + 0.5vh);
    font-weight: bold;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: calc(40% + 0.5vw + 0.5vh);
    font-weight: bold;
    background: #fff;
    border-radius: 10px;
    pointer-events: none;
  }

  .slider{
    font-weight: bold;
    font-size: calc(50% + 0.5vw + 0.5vh);
  }

  .color_range{
    float: right;
    font-weight: bold;
    font-size: calc(35% + 0.5vw + 0.5vh);
  }

  .boundary {
    stroke: #ccebed;
    stroke-width: 1px;
  }
  text{
    font-size: calc(35% + 0.5vw + 0.5vh);
  }

  .info-hirar {
    font-size: calc(50% + 0.5vw + 0.5vh);
  }

  .scrollable {
    overflow-y: scroll;
    max-height: 700px;
  }

  p {
    font-size: calc(35% + 0.5vw + 0.5vh);
    font-weight: bold;
  }
  
  .drilldown{
  color: #007FBB;
}
</style>
{% endblock %}
{% block feature %}

<div class="row">
  <div class="col-12 h-75">
    <div class="heading text-center">Pregnant Women related Indicators ({{ fy }})</div>
  </div>
</div>

<div class="row text-center bg-light">
    
    <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Category
        <span class="selectedCategory"></span>
        </button>
        <div class="dropdown-menu drop-category" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Early ANC Registeration</a>
            <a class="dropdown-item" href="#">PW received 4 or more ANC check ups</a>
            <a class="dropdown-item" href="#">PW given TT1</a>
            <a class="dropdown-item" href="#">PW given TT2</a>
            <a class="dropdown-item" href="#">PW given TT Booster</a>
            <a class="dropdown-item" href="#">PW given 360 Calcium tablets</a>
            <a class="dropdown-item" href="#">PW given 180 Iron Folic Acid (IFA) tablets</a>
            <a class="dropdown-item" href="#">PW given one Albendazole tablet after 1st trimester</a>
            <a class="dropdown-item" href="#">C-section deliveries</a>
            <a class="dropdown-item" href="#">Still Birth</a>
        </div>
    </div>
  <div id="slider-range" class="mx-auto">
    <div class="slider">Slider:</div>
  </div>
</div>
<div class="row">
    <div class="color_range">Please use Slider to change color range </div>
</div>
<div class="row text-center">
    <div class="col-12 mb-5">
        <input type="text" id="monthSlider" name="somename" data-provide="slider"
            data-slider-ticks="[0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12]"
            data-slider-ticks-labels='["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]'
            data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="0"
            data-slider-tooltip="hide">
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-dark back-button m-2">back</button>
    <span class='info info-hirar'>{{dist_name}}</span>
    <p>Click on the Polygon(District) to view the Lower Level <span class="drilldown">(Drilldown)</span>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8" id="mymap"></div>
  <div class="col-md-4" id="table"></div>
</div>

{% endblock %}
{% block feature_js %}

<script>
  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }

  const svg = d3
    .select("#mymap")
    .append('svg')
    .attr('width', 1300)
    .attr('height', 600)
    .call(responsivefy);

  function responsivefy(svg) {

    // Container is the DOM element, svg is appended. 
    // Then we measure the container and find its 
    // aspect ratio. 
    const container = d3.select(svg.node().parentNode),
      width = parseInt(svg.style('width'), 10),
      height = parseInt(svg.style('height'), 10),
      aspect = width / height;

    // Add viewBox attribute to set the value to initial size 
    // add preserveAspectRatio attribute to specify how to scale  
    // and call resize so that svg resizes on page load 
    svg.attr('viewBox', `0 0 ${width} ${height}`).
      attr('preserveAspectRatio', 'xMinYMin').
      call(resize);

    d3.select(window).on('resize.', resize);

    function resize() {
      const targetWidth = $(window).width();
      const targetheight = $(window).height();
      width1 = targetWidth;
      svg.attr('width', targetWidth);
      svg.attr('height', targetheight);
    }
  }

  const margin = { left: 200, top: 300, right: 40, bottom: 20 };
  const innerWidth = 1300 - margin.left - margin.right;
  const innerHeight = 800 - margin.top - margin.bottom;

  const transitionDuration = 1000;
  let level = 0;
  let levelLocation = [];
  let month_hack;
  let direction = 1;
  let circleEnter, rowEnter;
  let zoomBox = { 'translate': [], 'scale': [] };
  let table = d3
    .select("div#table")
    .append("table")
    .attr("class", "table update-table");
  let headerName = ["Location", "Percentage", "Actual Number"];
  let headers = table
    .append("thead")
    .append("tr")
    .selectAll("th")
    .data(headerName)
    .enter()
    .append("th")
    .text(d => d)
    .style("text-align", "center");

  let row = table.append("tbody").selectAll("tr");
  //Zoom
  let zzoom = d3.zoom()
    .scaleExtent([1, 8])
    .on("zoom", zoomed);

  function zoomed() {
    g.attr("transform", d3.event.transform); // updated for d3 v4
  }

  let tooltip = d3
    .select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

  const g = svg.append("g");

  var mercator = d3
    .geoMercator()
    .scale(1);

  const pathGenerator = d3.geoPath().projection(mercator);
  let choices = parseURLParameters(window.location.href);
  let selectedCategory = "Early ANC Registeration";
  selectedCategory.replace(/ /g, '_');

  const render = (
    district,
    // block,
    state,
    dtData,
    // blockData,
    stData

  ) => {

    
      //initail value of tooltip
   let TextValue = null;
    let Tooltipheader1 = d => "Early ANC Registeration:";
    // let Tooltipheader2 = d => "";
    let TooltipVal1 = d => d.properties.no_early_anc_register;
    // let TooltipVal2 = d => "";
    let ColorValue = d => d.properties.early_anc_register;
    let TPercentValue = d => d.early_anc_register;
    let TActualValue = d => d.no_early_anc_register;
    let low = 25.00;
    let high = 50.00;
    let updatedCat;
    // let month_hack = '2016';

    const fillCellColor = (d, percentageColor, actualColor) => {
      if (d.name == "Percentage") return percentageColor(d.value);
      else if (d.name == "Actual Number") return actualColor(d.value);
    };

    //info-div
    // const updateMonth = month_hack => {
    //   d3.select(".yearwise").text(month_hack);
    // }

    const updateCategory = updatedCat => {
      d3.select(".info-category").text(updatedCat);
    };
    let path;
    let pathEnter;
    // let textLabel;

    const updateviz = (selectedCat) => {
        //update tooltip
        switch (selectedCat) {
          case 1:
            updatedCat = "Early ANC Registeration";
            Tooltipheader1 = d => "Early ANC Registeration:";
            // Tooltipheader2 = d => "";
            TooltipVal1 = d => d.properties.no_early_anc_register;
            // TooltipVal2 = d => "-";
            ColorValue = d => d.properties.early_anc_register;
            TPercentValue = d => d.early_anc_register;
            TActualValue = d => d.no_early_anc_register;

            break;
          case 2:
            updatedCat = "PW received 4 or more ANC check ups";
            Tooltipheader1 = d => "PW received 4 or more ANC check ups:";
            // Tooltipheader2 = d => "Moderately PW received 4 or more ANC check ups:";
            TooltipVal1 = d => d.properties.no_anc_4_or_more;
            // TooltipVal2 = d => d.properties.mdrtly_stntd;
            ColorValue = d => d.properties.anc_4_or_more;
            TPercentValue = d => d.anc_4_or_more;
            TActualValue = d => d.no_anc_4_or_more;

            break;
          case 3:
            updatedCat = "PW given TT1";
            Tooltipheader1 = d => "PW given TT1:";
            // Tooltipheader2 = d => "";
            TooltipVal1 = d => d.properties.no_pw_given_tt1;
            // TooltipVal2 = d => "-";
            ColorValue = d => d.properties.pw_tt1_given;
            TPercentValue = d => d.pw_tt1_given;
            TActualValue = d => d.no_pw_given_tt1;


            break;
          case 4:
            updatedCat = "PW given TT2";
            Tooltipheader1 = d => "PW given TT2:";
            // Tooltipheader2 = d => "Moderately PW given TT2:";
            TooltipVal1 = d => d.properties.no_pw_given_tt2;
            // TooltipVal2 = d => d.properties.mdrtly_wstd;
            ColorValue = d => d.properties.pw_tt2_given;
            TPercentValue = d => d.pw_tt2_given;
            TActualValue = d => d.no_pw_given_tt2;

            break;
          case 5:
            updatedCat = "PW given TT Booster";
            Tooltipheader1 = d => "PW given TT Booster:";
            // Tooltipheader2 = d => "";
            TooltipVal1 = d => d.properties.no_pw_given_tt_booster;
            // TooltipVal2 = d => "-";
            ColorValue = d => d.properties.pw_tt_booster_given;
            TPercentValue = d => d.pw_tt_booster_given;
            TActualValue = d => d.no_pw_given_tt_booster;

            break;
          case 6:
            updatedCat = "PW given 360 Calcium tablets";
            Tooltipheader1 = d => "PW given 360 Calcium tablets:";
            // Tooltipheader2 = d => "Moderately PW given 360 Calcium tablets:";
            TooltipVal1 = d => d.properties.no_pw_given_calcium;
            // TooltipVal2 = d => d.properties.mdrtly_uw;
            ColorValue = d => d.properties.pw_calcium;
            TPercentValue = d => d.pw_calcium;
            TActualValue = d => d.no_pw_given_calcium;

            break;

            case 7:
            updatedCat = "PW given 180 Iron Folic Acid (IFA) tablets";
            Tooltipheader1 = d => "PW given 180 Iron Folic Acid (IFA) tablets:";
            // Tooltipheader2 = d => "Moderately Underweight Children:";
            TooltipVal1 = d => d.properties.no_pw_given_ifa;
            // TooltipVal2 = d => d.properties.mdrtly_uw;
            ColorValue = d => d.properties.pw_ifa;
            TPercentValue = d => d.pw_ifa;
            TActualValue = d => d.no_pw_given_ifa;

            break;

            case 8:
            updatedCat = "PW given one Albendazole tablet after 1st trimester";
            Tooltipheader1 = d => "PW given one Albendazole tablet after 1st trimester:";
            // Tooltipheader2 = d => "Moderately Underweight Children:";
            TooltipVal1 = d => d.properties.no_pw_given_albendazole;
            // TooltipVal2 = d => d.properties.mdrtly_uw;
            ColorValue = d => d.properties.pw_albendazole;
            TPercentValue = d => d.pw_albendazole;
            TActualValue = d => d.no_pw_given_albendazole;

            break;

            case 9:
            updatedCat = "C-section deliveries";
            Tooltipheader1 = d => "C-section deliveries:";
            // Tooltipheader2 = d => "Moderately Underweight Children:";
            TooltipVal1 = d => d.properties.tot_c_section_deliveries;
            // TooltipVal2 = d => d.properties.mdrtly_uw;
            ColorValue = d => d.properties.c_section_deliveries;
            TPercentValue = d => d.c_section_deliveries;
            TActualValue = d => d.tot_c_section_deliveries;

            break;

            case 10:
            updatedCat = "Still Birth";
            Tooltipheader1 = d => "Still Birth:";
            // Tooltipheader2 = d => "Moderately Underweight Children:";
            TooltipVal1 = d => d.properties.tot_still_birth;
            // TooltipVal2 = d => d.properties.mdrtly_uw;
            ColorValue = d => d.properties.per_still_birth;
            TPercentValue = d => d.per_still_birth;
            TActualValue = d => d.tot_still_birth;

            break;
        }
      };

    if (choices.length > 0) {
     updateviz(parseInt(choices[0])); 
     selectedCategory = updatedCat;
     if (selectedCategory != 'C-section deliveries' && selectedCategory != 'Still Birth') {
          d3.select("line.leftcolor").attr("stroke", "red");
          d3.select("line.track-inset").attr("stroke", "green");
        }
        else {
          d3.select("line.leftcolor").attr("stroke", "green");
          d3.select("line.track-inset").attr("stroke", "red");
        }
     $('.drop-category a').parents('.dropdown').find('.dropdown-toggle').html(updatedCat + ' <span class="selectedCategory"></span>');
     }

    //makemap
    const makemap = (geojson, tdata) => {
      d3.select('.info-hirar').text(function () {
        // let displayVal = d => d.properties.area_name; 
        // console.log(displayVal, "d")
        let hirarchy = "India";
        levelLocation.forEach(loc => {
          hirarchy += ">" + loc;
        })
        return hirarchy;
      })

      if (level == 0 && direction == 1) {
        TextValue = d => d.properties.state;
      } 
      else if (level == 1 && direction == 1) {
        TextValue = d => d.properties.district;
      }
      //  else if (level == 2 && direction == 1) {
      //   TextValue = d => d.properties.beat_na;
      // } else if (level == 2 && direction == 0) {
      //   TextValue = d => d.properties.beat_na;
      // } 
      // else if (level == 1 && direction == 0) {
      //   TextValue = d => d.properties.district;
      // } 
      // else if (level == 0 && direction == 0) {
      //   TextValue = d => d.properties.state;
      // }
      let min = d3.min(geojson, ColorValue);
      let max = d3.max(geojson, ColorValue);
      let comp = (max - min) / 3;
     
      let tooltipValue = (d) => {
        let ttv = `<b>${TextValue(d)}</b><br> 
          ${Tooltipheader1(d)}  ${TooltipVal1(d)} (${ColorValue(d)}%)<br>`;
        return ttv;
      }
      const onMouseOverPoly = d => {
        tooltip
          .transition()
          .duration(200)
          .style("opacity", 0.9);
        tooltip
          .html(tooltipValue(d))
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY - 30 + "px");

      };

       path = g.selectAll("path").data(geojson);
       pathEnter = path
        .enter()
        .append("path")
        .attr("d", pathGenerator)
        .attr("class", "boundary")
        .style("fill", d => {
          if (level !== 3) {
            return myColor(ColorValue(d), low, high);
          } else {
            return "rgba(0,0,0,0)";
          }
        })
        .on("mouseover", d => onMouseOverPoly(d))
        .on("mouseout", function (d) {
          tooltip
            .transition()
            .duration(500)
            .style("opacity", 0);
        });

      //text over polygon
      //  textLabel = g
      //   .selectAll("text")
      //   .data(geojson)
      //   .enter()
      //   .append("text")
      //   .text(d => {
      //     if (level !== 3) {
      //       return `${TextValue(d)}`;
      //     } else {
      //       return "";
      //     }
      //   })
      //   .attr("x", function (d) {
      //     return pathGenerator.centroid(d)[0];
      //   })
      //   .attr("y", function (d) {
      //     return pathGenerator.centroid(d)[1];
      //   })
      //   .attr("text-anchor", "middle")
      //   .attr("font-family", "sans-serif");

      // if (level === 0) {
      //   textLabel.attr("font-size", "0.4em").attr("font-weight", "bold");
      // } 
      // else if (level === 1) {
      //   textLabel.attr("font-size", "1em").attr("font-weight", "bold");
      // } else if (level === 2) {
      //   textLabel.attr("font-size", "0.38em").attr("font-weight", "bold");
      // }

      //update slider color
      const fillSlider = () => {
        leftX2 = +d3.select("line.track-fill").attr("x1") - 15;
        d3.select("line.leftcolor").attr("x2", leftX2);
      };
      //when slider move
      sliderRange.on("onchange", val => {
        fillSlider();
        d3.select("p#value-range").text(val.map(d3.format(".1%")).join("-"));
        low = (val[0] * 100).toFixed(2);
        high = (val[1] * 100).toFixed(2);

        pathEnter
          .transition()
          .duration(transitionDuration)
          .style("fill", function (d) {
            if (level !== 3) {
              return myColor(ColorValue(d), low, high);
            } else {
              return 'rgba(0,0,0,0)';
            }
          });

        // if (level === 3) {
        //   circleEnter
        //     .transition()
        //     .duration(transitionDuration)
        //     .style("fill", function (d) {
        //       return myColor(ColorValue(d), low, high);
        //     });
        // }
      });
      
      pathEnter.on("click", clicked);
      // makePoint
      // const makePoint = geoPoint => {

      // };
      //makeTable

      let tbdata = [];
      let LocationValue = d => d.area_name;
      let PercentageValue = TPercentValue;
      let ActualValue = TActualValue;
      tdata.forEach(d => {
        let temp = {};
        if (level === 0 && direction == 1) {
          LocationValue = d => d.area_name;
        } 
        else if (level === 1 && direction == 1) {
          LocationValue = d => d.area_name;
        } 
        // else if (level === 2 && direction == 1) {
        //   LocationValue = d => d.beat_n;
        // } else if (level === 3 && direction == 1) {
        //   LocationValue = d => d.awc_with_code;
        // } else if (level === 2 && direction === 0) {
        //   LocationValue = d => d.beat_n;
        // } 
        else if (level === 1 && direction == 0) {
          LocationValue = d => d.area_name;
        } 
        else if (level === 0 && direction == 0) {
          LocationValue = d => d.area_name;
        }

        temp["Location"] = LocationValue(d);
        temp["Percentage"] = PercentageValue(d);
        temp["Actual Number"] = ActualValue(d);
        tbdata.push(temp);
      });
      let percentageColor;
        let actualColor;
        if (PercentageValue == 'd => d.c_section_deliveries' || PercentageValue == 'd => d.per_still_birth') {
          percentageColor = d3
            .scaleSequential()
            .domain([d3.max(tdata, PercentageValue), d3.min(tdata, PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);

          actualColor = d3
            .scaleSequential()
            .domain([d3.max(tdata, ActualValue), d3.min(tdata, ActualValue)])
            .interpolator(d3.interpolateRdYlGn);
        }
        else {
            percentageColor = d3
            .scaleSequential()
            .domain([d3.min(tdata, PercentageValue), d3.max(tdata, PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);

          actualColor = d3
            .scaleSequential()
            .domain([d3.min(tdata, ActualValue), d3.max(tdata, ActualValue)])
            .interpolator(d3.interpolateRdYlGn);
        }

      rowEnter = row
        .data(tbdata)
        .enter()
        .append("tr");

      let td = rowEnter
        .selectAll("td")
        .data(d => {
          return headerName.map(k => {
            return { value: d[k], name: k };
          });
        })
        .enter()
        .append("td")
        .text(d => d.value)
        .attr("align", "center")
        .style("background-color", d =>
          fillCellColor(d, percentageColor, actualColor)
        );

        $('.drop-category a').click(function () {
        // $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedMonth"></span>');

        let selCat = $(this).text();
        let val;
        if (selCat != 'C-section deliveries' && selCat != 'Still Birth' ) {
          d3.select("line.leftcolor").attr("stroke", "red");
          d3.select("line.track-inset").attr("stroke", "green");
        }
        else {
          d3.select("line.leftcolor").attr("stroke", "green");
          d3.select("line.track-inset").attr("stroke", "red");
        }

        switch (selCat) {
          case "Early ANC Registeration": val = 1; break;
          case "PW received 4 or more ANC check ups": val = 2; break;
          case "PW given TT1": val = 3; break;
          case "PW given TT2": val = 4; break;
          case "PW given TT Booster": val = 5; break;
          case "PW given 360 Calcium tablets": val = 6; break;
          case "PW given 180 Iron Folic Acid (IFA) tablets": val = 7; break;
          case "PW given one Albendazole tablet after 1st trimester": val = 8; break;
          case "C-section deliveries": val = 9; break;
          case "Still Birth": val = 10; break;
        }
        updateviz(val);
        updateMap(geojson);
        // if (level === 3) {
        //   updatepoints(val, geojson);
        // }
        updatetable(val, tdata);
      })

}

      let updateMap =(geojson) => {
        updateCategory(updatedCat);
        min = d3.min(geojson, ColorValue);
        max = d3.max(geojson, ColorValue);
        comp = (max - min) / 3;
        pathEnter
          .transition()
          .duration(transitionDuration)
          .style("fill", function(d) {
            if(level !== 3){
            return myColor(ColorValue(d), low, high);
            }else{
              return 'rgba(0,0,0,0)';
            }
          });

        // textLabel
        //   .text(d => {
        //   if(level !== 3)
        //     return `${TextValue(d)}`;

        //   })
          // .exit()
          // .remove();
      }

      // let updatepoints = (geojson) => {
      //   min = d3.min(geojson, ColorValue);
      //   max = d3.max(geojson, ColorValue);
      //   comp = (max - min) / 3;
      //   circleEnter
      //     .transition()
      //     .duration(transitionDuration)
      //     .style("fill", d => {
      //       return myColor(ColorValue(d), low, high)
      //     });


      // }


      //on category selection
      const updatetable = (selCat, tdata)=> {
        rowEnter.selectAll("*").remove();
        switch (selCat) {
          case 1:
            PercentageValue = d => d.early_anc_register;
            ActualValue = d => d.no_early_anc_register;
            break;
          case 2:
            PercentageValue = d => d.anc_4_or_more;
            ActualValue = d => d.no_anc_4_or_more;
            break;
          case 3:
            PercentageValue = d => d.pw_tt1_given;
            ActualValue = d => d.no_pw_given_tt1;
            break;
          case 4:
            PercentageValue = d => d.pw_tt2_given;
            ActualValue = d => d.no_pw_given_tt2;
            break;
          case 5:
            PercentageValue = d => d.pw_tt_booster_given;
            ActualValue = d => d.no_pw_given_tt_booster;
            break;
          case 6:
            PercentageValue = d => d.pw_calcium;
            ActualValue = d => d.no_pw_given_calcium;
            break;

        case 7:
            PercentageValue = d => d.pw_albendazole;
            ActualValue = d => d.no_pw_given_albendazole;
            break;

        case 8:
            PercentageValue = d => d.pw_ifa;
            ActualValue = d => d.no_pw_given_ifa;
            break;

        case 9:
            PercentageValue = d => d.c_section_deliveries;
            ActualValue = d => d.tot_c_section_deliveries;
            break;

        case 10:
        PercentageValue = d => d.per_still_birth;
        ActualValue = d => d.tot_still_birth;
        break;
          
        }
        let newtbdata = [];
        if (level === 0) {
          LocationValue = d => d.area_name;
        } 
        else if (level === 1) {
          LocationValue = d => d.area_name;
        }
        //  else if (level === 2) {
        //   LocationValue = d => d.beat_n;
        // }
        tdata.forEach(d => {
          let temp = {};
          temp["Location"] = LocationValue(d);
          temp["Percentage"] = PercentageValue(d);
          temp["Actual Number"] = ActualValue(d);
          newtbdata.push(temp);
        });
        
        let percentageColor;
        let actualColor;
        if (PercentageValue == 'd => d.c_section_deliveries' || PercentageValue == 'd => d.per_still_birth') {
          percentageColor = d3
            .scaleSequential()
            .domain([d3.max(tdata, PercentageValue), d3.min(tdata, PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);

          actualColor = d3
            .scaleSequential()
            .domain([d3.max(tdata, ActualValue), d3.min(tdata, ActualValue)])
            .interpolator(d3.interpolateRdYlGn);
        }
        else {
            percentageColor = d3
            .scaleSequential()
            .domain([d3.min(tdata, PercentageValue), d3.max(tdata, PercentageValue)])
            .interpolator(d3.interpolateRdYlGn);

          actualColor = d3
            .scaleSequential()
            .domain([d3.min(tdata, ActualValue), d3.max(tdata, ActualValue)])
            .interpolator(d3.interpolateRdYlGn);
        }
        rowEnter = row
          .data(newtbdata)
          .enter()
          .append("tr");

        let td = rowEnter
          .selectAll("td")
          .data(d => {
            return headerName.map(k => {
              return { value: d[k], name: k };
            });
          })
          .enter()
          .append("td")
          .text(d => d.value)
          .attr("align", "center")
          .style("background-color", d =>
            fillCellColor(d, percentageColor, actualColor)
          );
      };


      let myColor = (v, low, high) => {
  if (ColorValue == 'd => d.properties.c_section_deliveries' || ColorValue == 'd => d.properties.per_still_birth') {
    if (v < low) return "#24562B"
    //matte red
    else if (v >= low && v <= high) return "#F4BC1C";
    //matte yellow
    else if (v > high) return "#B2022F"; //matte green

  }
  else {
    if (v < low) return "#B2022F";
    //matte red
    else if (v >= low && v <= high) return "#F4BC1C";
    //matte yellow
    else if (v > high) return "#24562B"; //matte green
  }
};
  
d3.select(".back-button").on("click", function () {
        if (level > 0) {
          level--;
          zoomBox['translate'].pop(); zoomBox['scale'].pop();

          direction = 0;
          let loc = levelLocation.pop();
          rowEnter.selectAll("*").remove();
          g.selectAll("*").remove();
          let svgTrans = svg.transition().duration(transitionDuration);
          // calculation for zoom
          let transLength = zoomBox.translate.length;
          let scaleLength = zoomBox.scale.length;
          let transX, transY, scaleV;
          if (level !== 0) {
            transX = zoomBox.translate[transLength - 1][0];
            transY = zoomBox.translate[transLength - 1][1];
            scaleV = zoomBox.scale[scaleLength - 1];
          }
          if (level === 0)
            svgTrans.call(zzoom.transform, d3.zoomIdentity);
          else
            svgTrans.call(zzoom.transform, d3.zoomIdentity.translate(transX, transY).scale(scaleV))

          updateCategory("Early ANC Registeration");
          let LocationMonth, LocationDataMonth;
          if (level === 0) {
            LocationDataMonth = filterCSV(stData, 'month', month_hack);
            LocationMonth = addProperty(LocationDataMonth, state);
            makemap(LocationMonth, LocationDataMonth);
          }
          else if (level === 1) {
            LocationDataMonth = filterCSV(dtData, 'month', month_hack);
            LocationMonth = addProperty(LocationDataMonth, district);

            let previousBlock = levelLocation[levelLocation.length - 1];

            let selectedjson = selectedSubFeature(LocationMonth, previousBlock);
            let selectedcsv = selectedSubData(LocationDataMonth, previousBlock);

            makemap(selectedjson, selectedcsv);
          }
          //  else if (level === 2) {
          //   LocationDataMonth = filterCSV(beatData, 'month_n', month_hack);
          //   LocationMonth = addProperty(LocationDataMonth, beat);
          //   //select beats map from project_name
          //   let previousProject = levelLocation[levelLocation.length - 1];
          //   let selectedjson = selectedSubFeature(LocationMonth, previousProject);
          //   let selectedcsv = selectedSubData(LocationDataMonth, previousProject);
          //   makemap(selectedjson, selectedcsv);
          // }
        }//if condition ends here
      });



$('#monthSlider').slider().on('slideStop', function (ev) {
  var val = tickLabels[ev.value];
  month_hack = val;
  g.selectAll("*").remove();
  rowEnter.selectAll("*").remove();
  let svgTrans = svg.transition().duration(transitionDuration);
          // calculation for zoom
          let transLength = zoomBox.translate.length;
          let scaleLength = zoomBox.scale.length;
          let transX, transY, scaleV;
          if (level !== 0) {
            transX = zoomBox.translate[transLength - 1][0];
            transY = zoomBox.translate[transLength - 1][1];
            scaleV = zoomBox.scale[scaleLength - 1];
          }
          
          if (level === 0) {
            LocationDataMonth = filterCSV(stData, 'month', month_hack);
            LocationMonth = addProperty(LocationDataMonth, state);
            // console.log("LocationDataMonth", LocationDataMonth);
            // console.log("LocationMonth", LocationMonth);

            makemap(LocationMonth, LocationDataMonth);
          }
          else if (level === 1) {
            LocationDataMonth = filterCSV(dtData, 'month', month_hack);
            LocationMonth = addProperty(LocationDataMonth, district);
            //select beats map from project_name
            let previousProject = levelLocation[levelLocation.length - 1];
            let selectedjson = selectedSubFeature(LocationMonth, previousProject);
            let selectedcsv = selectedSubData(LocationDataMonth, previousProject);
            makemap(selectedjson, selectedcsv);
          }
// else if (level === 2) {
//         LocationDataMonth = filterCSV(beatData, 'month_n', month_hack);
//         LocationMonth = addProperty(LocationDataMonth, beat);
//         //select beats map from project_name
//         let previousProject = levelLocation[levelLocation.length - 1];
//         let selectedjson = selectedSubFeature(LocationMonth, previousProject);
//         let selectedcsv = selectedSubData(LocationDataMonth, previousProject);
//         makemap(selectedjson, selectedcsv);
//       }
//       else if (level === 3) {
//         LocationDataMonth = filterCSV(awcData, 'month_n', month_hack);
//         LocationMonth = addProperty(LocationDataMonth, beat);
//         selectedPoints = addProperty(LocationDataMonth, awc);
//         //select beats map from project_name
//         let previousbeat = levelLocation[levelLocation.length - 1];
//         let selectedjson = selectedSubFeature(LocationMonth, previousbeat);
//         let selectedcsv = selectedSubData(LocationDataMonth, previousbeat);
//         makemap(selectedjson, selectedcsv);
//         if (level === 3) {
//             makegeoPoints(selectedPoints, previousbeat);
//           }
//       }
    });

// $(".yearwise a").click(function () {
//     $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedYear"></span>');
//     $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
//     valYear = $(this).text();
//     g.selectAll("*").remove();
//     rowEnter.selectAll("*").remove();
//     let svgTrans = svg.transition().duration(transitionDuration);
//           // calculation for zoom
//           let transLength = zoomBox.translate.length;
//           let scaleLength = zoomBox.scale.length;
//           let transX, transY, scaleV;
//           if (level !== 0) {
//             transX = zoomBox.translate[transLength - 1][0];
//             transY = zoomBox.translate[transLength - 1][1];
//             scaleV = zoomBox.scale[scaleLength - 1];
//           }
//           if (level === 0) {
//             LocationDataMonth = filterCSV(stData, 'year', valYear);
//             LocationMonth = addProperty(LocationDataMonth, state);
//             console.log("on year change");
//             console.log("LocationDataMonth", LocationDataMonth);
//             console.log("LocationMonth", LocationMonth);

//             makemap(LocationMonth, LocationDataMonth);
//           }
         
//     });
	
	   // clicked
      const clicked = d => {
        if (level < 3) {
          level++;
          direction = 1;
          zoomToBoundingBox(d);
          let clickedLocation;
          if (level === 1) {
            clickedLocation = d.properties.area_id;
          } 
          // else if (level === 2) {
          //   clickedLocation = d.properties.district;
          // } 
          // else if (level === 3) {
          //   clickedLocation = d.properties.beat_na;
          // }
          // if(d.properties.area_id = clickedLocation){
          //   levelLocation.push(d.properties.area_name);
          // }
            levelLocation.push(clickedLocation);

          let selectedJSON, selectedData;
          let selectedPoints;
          if (level === 1) {
            selectedData = filterCSV(dtData, 'month', month_hack);
            selectedJSON = addProperty(selectedData, district);
          } 
          // else if (level === 2) {
          //   selectedData = filterCSV(beatData, 'month_n', month_hack);
          //   selectedJSON = addProperty(selectedData, beat);
          // } else if (level === 3) {
          //   selectedData = filterCSV(awcData, 'month_n', month_hack);
          //   selectedJSON = addProperty(selectedData, beat);
          //   selectedPoints = addProperty(selectedData, awc);
          // }
          let selectedjson = selectedSubFeature(selectedJSON, clickedLocation);
          let selecteddata = selectedSubData(selectedData, clickedLocation);
          g.selectAll("*").remove();
          rowEnter.selectAll("*").remove();
          // tooltip.remove();

          makemap(selectedjson, selecteddata);

          //Make geopoints for awc
          // if (level === 3) {
          //   makegeoPoints(selectedPoints, clickedLocation);
          // }
        }// if condition ends here
      };
    
      // const makegeoPoints = (selectedPoints,clickedLocation)  => {

      //   //onmouseover
      //   const onMouseOver = d => {
      //         let PointTextValue = d => d.properties.awc;
      //         tooltip
      //           .transition()
      //           .duration(200)
      //           .style("opacity", 0.9);

      //         let tooltipValue = (d) => {
      //           let ttv = `<b>${PointTextValue(d)}</b><br> 
      //     ${Tooltipheader1(d)}  ${TooltipVal1(d)} (${ColorValue(d)}%)<br>
      //     ${Tooltipheader2(d)}  ${TooltipVal2(d)}<br>
      //     ${Tooltipheader3(d)}  ${TooltipVal3(d)}<br>`;
      //           return ttv;
      //         }
      //         tooltip
      //           .html(tooltipValue(d))
      //           .style("left", d3.event.pageX + "px")
      //           .style("top", d3.event.pageY - 30 + "px");

      //       };

      //       let selectedpoint = selectedSubPoint(selectedPoints, clickedLocation);
      //       let circle = g.selectAll("circle").data(selectedpoint);
      //       circleEnter = circle.enter()
      //         .append("circle")
      //         .attr("cx", d => mercator(d.geometry.coordinates)[0])
      //         .attr("cy", d => mercator(d.geometry.coordinates)[1])
      //         .attr("r", "2px")
      //         .style("fill", d => {
      //           return myColor(ColorValue(d), low, high);
      //         })
      //         .on("mouseover", d => onMouseOver(d))
      //         .on("mouseout", function (d) {
      //           tooltip
      //             .transition()
      //             .duration(500)
      //             .style("opacity", 0);
      //         });

      // }
      
	  //selectmap
      const selectedSubFeature = (geojson, location) => {
        let selection = [];
        let geomType;
        // if(level === 3 && direction == 0){
        // } 
        geojson.forEach(sel => {
          if (level === 1) {
            if (sel.properties.area_parent_id === location) {
              selection.push(sel);
            }
          } else if (level === 2) {
            if (sel.properties.area_parent_id === location) {
              selection.push(sel);
            }
          } 
          // else if (level === 3) {
          //   if (sel.properties.beat_na === location) {
          //     selection.push(sel);location
          //   }
          // }
        });
        return selection;
      };

      // select sub points
      // const selectedSubPoint = (geojson, location) => {
      //   let selection = [];
      //   geojson.forEach(sel => {
      //     if (sel.properties.beat === location) {
      //       selection.push(sel);
      //     }
      //   });
      //   return selection;
      // };

      const selectedSubData = (csv, location) => {
        let selection = [];
        csv.forEach(sel => {
          if (level === 1 && direction === 1) {
            if (sel.area_parent_id == location) {
              selection.push(sel);
            }
          } else if (level === 2 && direction === 1) {
            if (sel.area_parent_id == location) {
              selection.push(sel);
            }
          } 
          // else if (level === 3 && direction === 1) {
          //   if (sel.beat_n == location) {
          //     selection.push(sel);
          //   }
          // }
          else if (level === 2 && direction === 0) {
            if (sel.area_parent_id === location) {
              selection.push(sel);
            }
          } else if (level === 1 && direction === 0) {
            if (sel.area_parent_id == location) {
              selection.push(sel);
            }
          } else if (level === 0 && direction === 0) {
            if (sel.area_parent_id == location) {
              selection.push(sel);
            }
          }
        });
        return selection;
      };
	  
	    const zoomToBoundingBox = d => {
        let bounds = pathGenerator.bounds(d),
          dx = bounds[1][0] - bounds[0][0],
          dy = bounds[1][1] - bounds[0][1],
          x = (bounds[0][0] + bounds[1][0]) / 2,
          y = (bounds[0][1] + bounds[1][1]) / 2,
          scale = Math.max(
            1,
            Math.min(8, 0.9 / Math.max(dx / innerWidth, dy / innerHeight))
          ),
          translate = [innerWidth / 2 - scale * x, innerHeight / 2 - scale * y];
        zoomBox['translate'].push(translate);
        zoomBox['scale'].push(scale);
        svg
          .transition()
          .duration(transitionDuration)
          .call(
            zzoom.transform,
            d3.zoomIdentity.translate(translate[0], translate[1])
              .scale(scale)
          );
      };
   
    //initial map
let tickLabels = ["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]
    month_hack = tickLabels[0];
    let monthdata = filterCSV(stData, 'month', month_hack);
    let monthjson = addProperty(monthdata, state);
    makemap(monthjson, monthdata);
  };

  async function fetchGeoJSON() {
    let geoJSONBundle = {};
    let scaleCenter;
//     var blockJSON = {{ context.blk_geodata| safe }};
//   scaleCenter = calculateScaleCenter(blockJSON);

  

//   var projectJSON = {{ context.prjt_geodata| safe }};
//   scaleCenter = calculateScaleCenter(projectJSON);

  let stJSON = {{ context.st_geodata| safe }};

  // console.log("ST GeoJSON", stJSON )
  scaleCenter = calculateScaleCenter(stJSON);

  mercator.scale(scaleCenter.scale)
    .center(scaleCenter.center)
    .translate([innerWidth / 2, innerHeight / 2]);

  let dtJSON = {{ context.dt_geodata| safe }};
  // console.log("ST GeoJSON", dtJSON )
  scaleCenter = calculateScaleCenter(dtJSON);


//   geoJSONBundle.blockJSON = blockJSON.features;
//   geoJSONBundle.projectJSON = projectJSON.features;
  geoJSONBundle.stJSON = stJSON.features;
  geoJSONBundle.dtJSON = dtJSON.features;


  return geoJSONBundle;
}

  function calculateScaleCenter(features) {

    var bbox_path = pathGenerator.bounds(features),
      scale = 0.95 / Math.max(
        (bbox_path[1][0] - bbox_path[0][0]) / innerWidth,
        (bbox_path[1][1] - bbox_path[0][1]) / innerHeight
      );
    var bbox_feature = d3.geoBounds(features),
      center = [
        (bbox_feature[1][0] + bbox_feature[0][0]) / 2,
        ((bbox_feature[1][1] + bbox_feature[0][1]) / 2)];

    return {
      'scale': scale,
      'center': center
    };
  }

  const monthWiseCSV = data => {
    data.forEach(d => {
    //   if (d.project_n) d.project_n = d.project_n;
    //   if (d.awc_with_code) d.awc_with_code = d.awc_with_code;
      // d.block_n = d.block_n;
        d.early_anc_register = +d.early_anc_register;
        d.anc_4_or_more = +d.anc_4_or_more;
        d.pw_tt1_given = +d.pw_tt1_given;
        d.pw_tt2_given = +d.pw_tt2_given;
        d.pw_tt_booster_given = +d.pw_tt_booster_given;
        d.pw_calcium = +d.pw_calcium;
        d.pw_albendazole = +d.pw_albendazole;
        d.pw_ifa = +d.pw_ifa;
        d.c_section_deliveries = +d.c_section_deliveries;
        d.per_still_birth = +d.per_still_birth;

        d.tot_no_pw_reg_anc = +d.tot_no_pw_reg_anc;
        d.no_early_anc_register = +d.no_early_anc_register;
        d.no_anc_4_or_more = +d.no_anc_4_or_more;
        d.no_pw_given_tt1 = +d.no_pw_given_tt1;
        d.no_pw_given_tt2 = +d.no_pw_given_tt2;
        d.no_pw_given_tt_booster = +d.no_pw_given_tt_booster;
        d.no_pw_given_calcium = +d.no_pw_given_calcium;
        d.no_pw_given_albendazole = +d.no_pw_given_albendazole;
        d.no_pw_given_ifa = +d.no_pw_given_ifa;
        d.tot_c_section_deliveries = +d.tot_c_section_deliveries;
        d.tot_still_birth = +d.tot_still_birth;
        d.area_name = d.area_name;
        d.month = d.month;
        d.financial_year = d.financial_year;

    });
  };

  const addProperty = (data, geojson) => {

    var x, y;
    for (let i = 0; i < data.length; i++) {
      for (let j = 0; j < geojson.length; j++) {
        if (geojson[j].properties.area_id) {
          x = data[i].area_id;
          y = geojson[j].properties.area_id;
        } 
        // else if (geojson[j].properties.beat_na) {
        //   x = data[i].beat_n;
        //   y = geojson[j].properties.beat_na;
        // } 
        else if (geojson[j].properties.district) {
          x = data[i].area_id;
          y = geojson[j].properties.area_id;
        } else {
          x = data[i].area_id;
          y = geojson[j].properties.area_id;
        }

        // if (x.trim() === y.trim()) {
        if (x === y) {
          geojson[j].properties.area_name = data[i].area_name;
          geojson[j].properties.area_parent_id = data[i].area_parent_id;
          geojson[j].properties.financial_year = data[i].financial_year;
          geojson[j].properties.no_pw_given_tt2 = data[i].no_pw_given_tt2;
          geojson[j].properties.no_anc_4_or_more = data[i].no_anc_4_or_more;
          geojson[j].properties.no_pw_given_calcium = data[i].no_pw_given_calcium;
          geojson[j].properties.no_early_anc_register = data[i].no_early_anc_register;
          geojson[j].properties.no_pw_given_tt1 = data[i].no_pw_given_tt1;
          geojson[j].properties.no_pw_given_calcium = data[i].no_pw_given_calcium;
          geojson[j].properties.no_pw_given_tt_booster = data[i].no_pw_given_tt_booster;
          geojson[j].properties.no_pw_given_albendazole = data[i].no_pw_given_albendazole;
          geojson[j].properties.no_pw_given_ifa = data[i].no_pw_given_ifa;
          geojson[j].properties.tot_c_section_deliveries = data[i].tot_c_section_deliveries;
          geojson[j].properties.tot_no_pw_reg_anc = data[i].tot_no_pw_reg_anc;
          geojson[j].properties.tot_still_birth = data[i].tot_still_birth;

          geojson[j].properties.pw_tt1_given = data[i].pw_tt1_given;
          geojson[j].properties.pw_tt2_given = data[i].pw_tt2_given;
          geojson[j].properties.early_anc_register = data[i].early_anc_register;
          geojson[j].properties.anc_4_or_more = data[i].anc_4_or_more;
          geojson[j].properties.pw_tt_booster_given = data[i].pw_tt_booster_given;
          geojson[j].properties.pw_calcium = data[i].pw_calcium;
          geojson[j].properties.pw_albendazole = data[i].pw_albendazole;
          geojson[j].properties.pw_ifa = data[i].pw_ifa;
          geojson[j].properties.c_section_deliveries = data[i].c_section_deliveries;
          geojson[j].properties.per_still_birth = data[i].per_still_birth;

        }
      }
    }

    return geojson;
  };
  async function mergeData(geoJSON) {
    //merging block data
//     let blockGeoJSON = geoJSON.blockJSON;

//     data_from_django = {{ context.block_data | safe }};
//   var data = []
//   data_from_django.forEach(element => {
//     data.push(element.fields);
//   });
//   let blockCSV = data;
//   monthWiseCSV(blockCSV);

//   let blockGeoJSONAug = JSON.parse(JSON.stringify(blockGeoJSON));

//   //merging project data
//   let projectGeoJSON = geoJSON.projectJSON;
//   /////
//   data_from_django = {{ context.project_data | safe }};
//   var data = []
//   data_from_django.forEach(element => {
//     data.push(element.fields);
//   });
//   let projectCSV = data;
//   monthWiseCSV(projectCSV);

//   let projectGeoJSONAug = JSON.parse(JSON.stringify(projectGeoJSON));

  //merging state data
  let stGeoJSON = geoJSON.stJSON;
  data_from_django = {{ context.st_data | safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element);
  });
  let stCSV = data;
  monthWiseCSV(stCSV);
  let stGeoJSONAug = JSON.parse(JSON.stringify(stGeoJSON));

  let dtGeoJSON = geoJSON.dtJSON;

  data_from_django = {{ context.dt_data | safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element);
  });
  let dtCSV = data;
  monthWiseCSV(dtCSV);
  let dtGeoJSONAug = JSON.parse(JSON.stringify(dtGeoJSON));



  render(
    dtGeoJSONAug,
    // projectGeoJSONAug,
    stGeoJSONAug,
    dtCSV,
    // projectCSV,
    stCSV
  );
}

fetchGeoJSON().then(mergeData);

  $(function () {
    //bind event
    // $('.yearwise a').parents('.dropdown').find('.dropdown-toggle').html('2016' + ' <span class="selectedYear"></span>');
    
    $(".drop-category a").click(function () {
      var valCategory = $(this).text();
      $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory"></span>');
    });

    //trigger event
    if (choices.length <= 0)
    $(".drop-category a").first().trigger('click');
  });

  function parseURLParameters() {
    var query = (window.location.search || '?').substr(1);
    var map = [];
    query.replace(/([^&=]+)=?([^&]*)(?:&+|$)/g, function (match, key, value) {
      map.push(value);
    });
    return map;
  }

  const sliderRange = d3
    .sliderBottom()
    .min(0)
    .max(0.999)
    .width(300)
    .tickFormat(d3.format(".1%"))
    .ticks(1)
    .default([0.25, 0.5])
    .fill("yellow")
    .handle(
      d3
        .symbol()
        .type(d3.symbolCircle)
        .size(400)()
    );

  const gRange = d3
    .select("div#slider-range")
    .append("svg")
    .attr("width", 410)
    .attr("height", 75)
    .append("g")
    .attr("transform", "translate(30,30)");

  gRange.call(sliderRange);

  let leftX1 = +d3.select("line.track-inset").attr("x1");
  let leftX2 = +d3.select("line.track-fill").attr("x1") - 12;
  d3.select("g.slider")
    .append("line")
    .attr("class", "leftcolor")
    .attr("x1", leftX1)
    .attr("x2", leftX2)
    .attr("stroke-width", 4)
    .attr("stroke-linecap", "round");

  d3.select("line.track-fill").attr("stroke", "yellow");
  d3.select("line.leftcolor").attr("stroke", "green");
  d3.select("line.track-inset").attr("stroke", "red");
</script>
{% endblock %}