{% extends 'dashboard/dash_base.html' %}
{% load static %}
{% block feature_css %}
<link rel="stylesheet" href="{% static 'hmis_dash/css/index.css' %}">
<style>
  .arc text {
    font-family: sans-serif;
    font-size: 1.8rem;
    color: #fff;
    text-anchor: middle;
  }

  .arc path {
    stroke: #DDDDDD;
    stroke-width: 2;
  }

  #tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
  }

  .tooltip.hidden {
    opacity: 0;
  }

  #zero_percent {
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(50% + 0.5vw + 0.5vh);
    font-weight: bold;
    font-style: italic;
    float: right;
    background-color: rgb(220, 240, 240);
  }

  #tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: calc(50% + 0.5vw + 0.5vh);
    line-height: 20px;
  }
</style>
{% endblock %}
{% block feature %}
<div class='heading text-dark mt-2 text-center'><span id="bartitleCategory">Pie Chart</span> <span
    id="bartitleMonth"></span></div>

<div class="row h-100 mb-3 bg-info">

  <div class="dropdown m-1">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="selectedCategory"></span>
    </button>
    <div class="dropdown-menu category" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Early ANC Registeration</a>
      <a class="dropdown-item" href="#">PW received 4 or more ANC check ups</a>
      <a class="dropdown-item" href="#">PW given TT1</a>
      <a class="dropdown-item" href="#">PW given TT2</a>
      <a class="dropdown-item" href="#">PW given TT Booster</a>
      <a class="dropdown-item" href="#">PW given 360 Calcium tablets</a>
      <a class="dropdown-item" href="#">PW given 180 Iron Folic Acid (IFA) tablets</a>
      <a class="dropdown-item" href="#">PW given one Albendazole tablet after 1st trimester</a>
      <a class="dropdown-item" href="#">C-section deliveries</a>
      <a class="dropdown-item" href="#">Total no of Still Birth</a>
    </div>
  </div>

  <!-- <div class="dropdown m-1">
    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="selectedPtype"></span>
    </button>
    <div class="dropdown-menu ptype" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Urban</a>
      <a class="dropdown-item" href="#">Rural</a>
      <a class="dropdown-item" href="#">Tribal</a>
    </div>
  </div> -->

</div>

<div class="row text-center">
  <div class="col-12 mb-5">
      <input type="text" id="monthSlider" name="somename" data-provide="slider"
            data-slider-ticks="[0, 1, 2, 3, 4, 5,6,7,8,9,10,11,12]"
            data-slider-ticks-labels='["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]'
            data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="0"
            data-slider-tooltip="hide">
  </div>
</div>

<div id="zero_percent">Pie Labels with less than 1.5% are are not visible please hover to see details</div>

<div class="col-12" id="chart">
</div>

<div id="tooltip" class="hidden">
  <p><span id="stateN" style="font-weight: bold"></span></p>
  <p><strong><span id="paraText"></span></strong><span id="value" style="font-weight: bold"> 100</span>%(<span id="num" style="font-weight: bold"> 100</span>)</p>
  <p><strong>Registered PW contribution: </strong><span id="enrlval" style="font-weight: bold">10</span>%(<span id="numEnrl" style="font-weight: bold"> 100</span>)</p>
</div>


{% endblock %}

{% block feature_js %}

<script>

  const svg = d3.select('#chart').
    append('svg').
    attr('width', 1100).
    attr('height', 900).
    call(responsivefy) // Call responsivefy to make the chart responsive 

  var radius;

  function filterCSV(csv, key, value) {
    var result = [];
    csv.forEach(function (val, idx, arr) {

      if (val[key] == value) {

        result.push(val)
      }
    })
    return result;
  }


  function responsivefy(svg) {

    // Container is the DOM element, svg is appended. 
    // Then we measure the container and find its 
    // aspect ratio. 

    const container = d3.select(svg.node().parentNode),
      width = parseInt(svg.style('width'), 10),
      height = parseInt(svg.style('height'), 10),
      aspect = width / height;

    // Add viewBox attribute to set the value to initial size 
    // add preserveAspectRatio attribute to specify how to scale  
    // and call resize so that svg resizes on page load 
    svg.attr('viewBox', `0 0 ${width} ${height}`).
      attr('preserveAspectRatio', 'xMinYMid').
      call(resize);

    d3.select(window).on('resize.', resize);

    function resize() {
      const targetWidth = $(window).width();
      const targetHeight = targetWidth / 2.1;
      svg.attr('width', targetWidth);
      svg.attr('height', targetHeight);
    }
  }

  let fy = '{{ fy }}';

  var radius = Math.min(1100, 750) / 3;
  let choices = parseURLParameters(window.location.href);

  // let prjType = 'Urban';

  const render = data => {

    let arcInitial = d => d.early_anc_register;
    let arcInitialNum = d => d.no_early_anc_register;

    const setArcInitial = opt =>
    {
      if (opt == 'Early ANC Registeration') {
        arcInitial = d => d.early_anc_register;
        arcInitialNum = d => d.no_early_anc_register;
      } else if (opt == 'PW received 4 or more ANC check ups') {
        arcInitial = d => d.anc_4_or_more;
        arcInitialNum = d => d.no_anc_4_or_more;
      } else if (opt == 'PW given TT1') {
        arcInitial = d => d.pw_tt1_given;
        arcInitialNum = d => d.no_pw_given_tt1;
      } else if (opt == 'PW given TT2') {
        arcInitial = d => d.pw_tt2_given;
        arcInitialNum = d => d.no_pw_given_tt2;
      } else if (opt == 'PW given TT Booster') {
        arcInitial = d => d.pw_tt_booster_given;
        arcInitialNum = d => d.no_pw_given_tt_booster;
      } else if (opt == 'PW given 360 Calcium tablets') {
        arcInitial = d => d.pw_calcium;
        arcInitialNum = d => d.no_pw_given_calcium;
      } else if (opt == 'PW given 180 Iron Folic Acid (IFA) tablets') {
        arcInitial = d => d.pw_ifa;
        arcInitialNum = d => d.no_pw_given_ifa;
      } else if (opt == 'PW given one Albendazole tablet after 1st trimester') {
        arcInitial = d => d.pw_albendazole;
        arcInitialNum = d => d.no_pw_given_albendazole;
      }
      else if(opt == 'C-section deliveries'){
        arcInitial = d => d.c_section_deliveries;
        arcInitialNum = d => d.tot_c_section_deliveries;
      }else{
        arcInitial = d => d.per_still_birth;
        arcInitialNum = d => d.tot_still_birth
      }

    }

    const margin = { left: 750, top: 320, right: 170, bottom: 20 };
    const innerWidth = 1100 - margin.left - margin.right;
    const innerHeight = 750 - margin.top - margin.bottom;

    if (choices.length > 0) 
    {
      let selectedCat = choices[0].replace(/_/g, ' ');
      var displayVal = selectedCat.substring(0, selectedCat.length - 3);
      document.getElementById('paraText').innerHTML = displayVal + " Contribution: ";
      document.getElementById('bartitleCategory').innerHTML = displayVal + " : State wise Contribution " + "(" + fy + ")";
      $('.category a').parents('.dropdown').find('.dropdown-toggle').html(selectedCat + ' <span class="selectedCategory"></span>');
      setArcInitial(selectedCat); 
    }

    const g = svg.append('g')
      .attr('transform', `translate(${margin.left}, ${margin.top})`);

    var pie = d3.pie()

      .value(function (d) {
        return arcInitial(d);
      });

    var path = d3.arc()
      .outerRadius(radius - 10)
      .innerRadius(0);
    var arcs = d3.arc()
      .innerRadius(radius * 0.4)         // This is the size of the donut hole
      .outerRadius(radius * 0.5);
    var label = d3.arc()
      .outerRadius(radius * 1.1)
      .innerRadius(radius * 1.3);

    var div = d3.select("body").append("div")
      .attr("class", "tooltip")
      .style("opacity", 0);

    const onMouseOver = d => {
      div.transition().duration(100).style("opacity", 1);
      div.html("<b>" + "<span id='paraText'>" + 10 + "</span>" + "</b><br>" + arcInitial(d.data) + "%");
    }

    oi = { "area_name": [], "early_anc_register": [], "anc_4_or_more": [], "pw_tt1_given": [], "pw_tt2_given": [], "pw_tt_booster_given": [], "pw_calcium": [],"pw_albendazole": [],"pw_ifa": [],"c_section_deliveries": [],"per_pw_reg_anc": [], "per_still_birth": [] }

    data.forEach(d => {
      oi.area_name.push(d.area_name);
      oi.early_anc_register.push(d.early_anc_register);
      oi.anc_4_or_more.push(d.anc_4_or_more);
      oi.pw_tt1_given.push(d.pw_tt1_given);
      oi.pw_tt2_given.push(d.pw_tt2_given);
      oi.pw_tt_booster_given.push(d.pw_tt_booster_given);
      oi.pw_calcium.push(d.pw_calcium);
      oi.pw_albendazole.push(d.pw_albendazole);
      oi.pw_ifa.push(d.pw_ifa);
      oi.c_section_deliveries.push(d.c_section_deliveries);
      oi.per_pw_reg_anc.push(d.per_pw_reg_anc);
      oi.per_still_birth.push(d.per_still_birth);
    });

    var color = d3.scaleSequential().domain([d3.min(arcInitial(oi)), d3.max(arcInitial(oi))])
      .interpolator(d3.interpolateReds);

    var arc = g.selectAll(".arc");

    var arcData = arc.data(pie(data));

    var arcEnter = arcData.enter().append("g")
      .attr("class", "arc");

    arcEnter.append("path")
      .attr("fill", function (d) {
        return color(arcInitial(d.data));
      })
      .attr("d", path);


    arcEnter.on("mouseover", function (d) {
      d3.select("#tooltip #stateN").text("Area Name:" + d.data.area_name)
      d3.select("#tooltip")
        .transition().duration(200)
        .style("left", d3.event.pageX + "px")
        .style("top", d3.event.pageY - 30 + "px")
        .select("#value").text(arcInitial(d.data))

      d3.select("#tooltip #enrlval").text(d.data["per_pw_reg_anc"])
      d3.select("#tooltip #num").text(arcInitialNum(d.data))
      d3.select("#tooltip #numEnrl").text(d.data["tot_no_pw_reg_anc"])

      d3.select("#tooltip").style("opacity", 1);

    })
      .on("mouseout", function () {
        // Hide the tooltip
        d3.select("#tooltip")
          .style("opacity", 0);;
      });


    makeviz = (arcInitial) => {
      g.selectAll(".arc").remove();
      $(".hello").remove();
      let tansitionDuration = 1000;

      var pie = d3.pie()
        .value(function (d) {
          return arcInitial(d);
        });


      var mycolor = d3.scaleSequential().domain([d3.min(arcInitial(oi)), d3.max(arcInitial(oi))])
        .interpolator(d3.interpolateReds);


      var arcData = arc.data(pie(data));

      var arcEnter = arcData.enter().append("g")
        .attr("class", "arc");

      arcEnter.on("mouseover", function (d) {
        d3.select("#tooltip #stateN").text("State Name:" + d.data.area_name)
        d3.select("#tooltip")
          .transition().duration(200)
          .style("left", d3.event.pageX + "px")
          .style("top", d3.event.pageY - 30 + "px")
          .select("#value").text(arcInitial(d.data))

        d3.select("#tooltip #enrlval").text(d.data["per_pw_reg_anc"])
        d3.select("#tooltip #num").text(arcInitialNum(d.data))
        d3.select("#tooltip #numEnrl").text(d.data["tot_no_pw_reg_anc"])

        d3.select("#tooltip").style("opacity", 1);

      })
        .on("mouseout", function () {
          // Hide the tooltip
          d3.select("#tooltip")
            .style("opacity", 0);;
        });


      arcEnter.append("path").attr("fill", function (d) {
        return mycolor(arcInitial(d.data));
      })
        .attr("d", path);

      var getAngle = function (d) {
        return (180 / Math.PI * (d.startAngle + d.endAngle) / 2 - 90);
      };

      arcEnter
        .append('polyline')
        .attr("stroke", "black")
        .style("fill", "none")
        .data(pie(data))
        .attr("stroke-width", 1)
        .attr('points', function (d) {
          var posA = arcs.centroid(d); // line insertion in the slice
          var posB = label.centroid(d);// line break: we use the other arc generator that has been built only for that
          var posC = label.centroid(d); // Label position = almost the same as posB
          var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2 // we need the angle to see if the X position will be at the extreme right or extreme left
          posC[0] = radius * 1.1 * (midangle < Math.PI ? 1 : -1); // multiply by 1 or -1 to put it on the right or on the left
          if (arcInitial(d.data) > 1.5) {
            return [posA, posB, posC]

          }
        })

      // Add the polylines between chart and labels:
      arcEnter
        .append('text')
        .text(function (d) { if (arcInitial(d.data) > 1.5) { return d.data.area_name } })
        .attr('transform', function (d) {
          var pos = label.centroid(d);
          var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
          pos[0] = radius * 1.14 * (midangle < Math.PI ? 1 : -1);
          return 'translate(' + pos + ')';
        })
        .style('text-anchor', function (d) {
          var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2
          return (midangle < Math.PI ? 'start' : 'end')
        })
    }

    const dropdownChange = () => {
      var sel = document.getElementById('opt');
      val = document.getElementById("opt").value
    }

    makeviz(arcInitial);
    $(".category a").click(function () {
      $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedCategory"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      var valCategory = $(this).text();
      displayPie(valCategory);
    });

    function displayPie(valCategory)
    {
        var displayVal = valCategory.substring(0, valCategory.length);
          document.getElementById('paraText').innerHTML = displayVal + " Contribution: ";
          document.getElementById('bartitleCategory').innerHTML = displayVal + " : State wise Contribution " + "(" + fy + ")";
          setArcInitial(valCategory);
          makeviz(arcInitial);
    }
  }

  // $(".ptype a").click(function () {
  //   $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="selectedPtype"></span>');
  //   $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
  //   prjType = $(this).text();
  //   var valMonth = tickLabels[$('#monthSlider').slider('getValue')];
  //   filterdata = filterCSV(data, 'month_n', valMonth);
  //   pt_data = filterCSV(filterdata, 'project_type', prjType);
  //   svg.selectAll("*").remove();
  //   render(pt_data);
  // });

  function parseURLParameters() {
    var query = (window.location.search || '?').substr(1);
    var map = [];
    query.replace(/([^&=]+)=?([^&]*)(?:&+|$)/g, function (match, key, value) {
      map.push(value);
    });
    return map;
  }

  $(function () {
    //bind event
    // $('.ptype a').parents('.dropdown').find('.dropdown-toggle').html('Urban' + ' <span class="selectedPtype"></span>');

    $(".category a").click(function () {
      
      var valCategory = $(this).text();
      var displayVal = valCategory.substring(0, valCategory.length);

      document.getElementById('paraText').innerHTML = displayVal + " Contribution: ";
      document.getElementById('bartitleCategory').innerHTML = displayVal + " : State wise Contribution " + "(" + fy + ")";

      $(this).parents('.dropdown').find('.dropdown-toggle').html(valCategory + ' <span class="selectedCategory"></span>');
    });

    //trigger event
    if(choices.length <= 0)
    $(".category a").first().trigger('click');

  });


  /////
  data_from_django = {{ data | safe }};
  var data = []
  data_from_django.forEach(element => {
    data.push(element);
  });

  data.forEach(d => {
    d.early_anc_register = +d.early_anc_register;
    d.anc_4_or_more = +d.anc_4_or_more;
    d.pw_tt1_given = +d.pw_tt1_given;
    d.pw_tt2_given = +d.pw_tt2_given;
    d.pw_tt_booster_given = +d.pw_tt_booster_given;
    d.pw_calcium = +d.pw_calcium;
    d.pw_albendazole = +d.pw_albendazole;
    d.pw_ifa = +d.pw_ifa;
    d.c_section_deliveries = +d.c_section_deliveries;
    d.tot_no_pw_reg_anc = +d.tot_no_pw_reg_anc;
    d.no_early_anc_register = +d.no_early_anc_register;
    d.no_anc_4_or_more = +d.no_anc_4_or_more;
    d.no_pw_given_tt1 = +d.no_pw_given_tt1;
    d.no_pw_given_tt2 = +d.no_pw_given_tt2;
    d.no_pw_given_tt_booster = +d.no_pw_given_tt_booster;
    d.no_pw_given_calcium = +d.no_pw_given_calcium;
    d.no_pw_given_albendazole = +d.no_pw_given_albendazole;
    d.no_pw_given_ifa = +d.no_pw_given_ifa;
    d.tot_c_section_deliveries = +d.tot_c_section_deliveries;
    d.tot_still_birth = +d.tot_still_birth;
    d.per_still_birth = +d.per_still_birth;
    d.per_pw_reg_anc = +d.per_pw_reg_anc;
    d.area_id = +d.area_id;
    d.area_name = d.area_name;
    d.month = d.month;
    d.financial_year = d.financial_year;
  });

let tickLabels = ["All", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec",  "Jan", "Feb", "Mar"]

$('#monthSlider').slider().on('slideStop', function (ev) {
    var val = tickLabels[ev.value];
    document.getElementById('bartitleMonth').innerHTML = val;
    mydata = filterCSV(data, 'month', val);
    svg.selectAll("*").remove();
    render(mydata);
});


  monthSelect = tickLabels[$('#monthSlider').slider('getValue')]
  augData = filterCSV(data, 'month', monthSelect);
  render(augData);
</script>

{% endblock %}